In [ ]:
import pandas as pd

df = pd.read_csv('50_Startups.csv')


df.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [ ]:
#write algo to convert state into index
allStates = []

for state in df['State']:
  if state not in allStates:
    allStates.append(state)

In [ ]:
allStates

['New York', 'California', 'Florida']

In [ ]:
newStates = []

for state in df['State']:
  newStates.append(allStates.index(state))

len(newStates)

50

In [ ]:
df['State'] = newStates

In [ ]:
df.head(5)

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      0  192261.83
1  162597.70       151377.59        443898.53      1  191792.06
2  153441.51       101145.55        407934.54      2  191050.39
3  144372.41       118671.85        383199.62      0  182901.99
4  142107.34        91391.77        366168.42      2  166187.94

In [ ]:
from sklearn import linear_model

model = linear_model.LinearRegression()

model.fit(df[['R&D Spend', 'Administration', 'Marketing Spend', 'State']], df.Profit)

LinearRegression()

In [ ]:
model.predict([[153441.51, 101145.55, 443898.53, 0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([182993.49706343])

In [ ]:
model.coef_

array([ 8.06048883e-01, -2.69870879e-02,  2.70265084e-02,  1.18514656e+02])

In [ ]:
model.intercept_

50044.73578847904